* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.grey-box {
    background: #F5F1DA;
    height: 35px;
}

.peach {
    background: #FFBB91;
    height: 200px;
    border: 3px solid;
}

.blue {
    background: #40A8C4;
    height: 35px;
    border-bottom: 3px solid; 
}

.darkblue {
    background: #00416D;
    height: 50px;
    border-bottom: 3px solid; 
}

.out1 {
    border: 3px solid;
    padding: 0px !important;
}

.pale {
    background: #F8BD7F;
    height: 200px;
    border: 4px solid; 
}

.teal {
    background: #5EAAA8;
    height: 200px;
    border: 4px solid; 
}

.offwhite {
    background: #E3DFC8;
    height: 60px;
    border: 4px solid;
}

.misty {
    background: #F7D1BA;
    height: 100px;
    border: 4px solid;
}

.blackbox {
    background: #000000;
    height: 50px;
    border-bottom: 3px solid; 
}