* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  
.grey-box {
    background: #F5F1DA;
    height: 35px;
}

.orange-box {
    background: #F8BD7F;
    height: 100px;
    border-top: 4px solid;
}

.outer-box {
    border: 10px solid;
    border-left-width: 15px;
    border-right-width: 15px;
}

.grey-col {
    background: #F5F1DA;
    border-right: 3px solid;
    height: 802px;
}

.peach-col {
    background: #FFBB91 ;
    border-right: 3px solid;
}

.blue-col {
    background: #40A8C4 ;
    border-right: 3px solid;
}

li {
    padding: 10px;
    border: 2px solid;
}
