.wrapper {
    margin: 0 auto;
    margin-top: 100px;
    width: 1000px;
    height: auto;
    background: #f0f4ff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sub-wrapper {
    background: #ffffff;
    width: 750px;
    margin: 0 auto;
    border-radius: 4px;
    padding-top: 10px;
    border: 2px solid #349531;
}

.hi-text {
    color: #349531;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.scs {
    color: #349531;
}

.transaction {
    color: #94858a;
    text-align: justify;
    font-weight: 600;
    padding: 10px 108px;
}

.card-body {
    background: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.details {
    text-align: center;
    padding: 5px;
    border: 1px solid #eaeaea;
    color: #349531;
    font-weight: 600;
}

.tab-detail {
    color: #c0c0c0;
    padding: 3px 15px;
    font-weight: 600;
    border-top: 1px solid #c0c0c0;
}

.tab-value {
    color: #94858a;
    font-weight: 600;
    padding: 3px 15px;
    border-top: 1px solid #c0c0c0;
}

.regards {
    color: #94858a;
    font-weight: 600;
    text-align: right;
    padding: 0px 91px;
}

.given-by {
    color: #349531;
    font-weight: 600;
    text-align: right;
    padding: 0px 45px;
    padding-bottom: 20px;
}